.office-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding-bottom: 80px;
}

.office-layout {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

/* ---------- TABLE ---------- */

.table-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.table-card h4 {
  margin: 0;
  color: #475569;
  font-size: 16px;
}

.desk-wrapper {
  padding: 12px;
  border-radius: 18px;
}

.desk-surface {
  width: 120px;
  height: 320px;

  position: relative;

  border-radius: 18px;

  background: #d7d7d7;

  border: 2px solid #ffffff;

  display: flex;
  justify-content: space-between;

  padding: 16px 10px;

  box-sizing: border-box;
}

/* dikey çizgi */

.desk-surface::before {
  content: "";

  position: absolute;

  left: 50%;
  top: 0;

  width: 3px;
  height: 100%;

  background: #ffffff;

  transform: translateX(-50%);
}

/* yatay bölmeler */

.desk-surface::after {
  content: "";

  position: absolute;
  inset: 0;

  background:
    repeating-linear-gradient(
      to bottom,
      transparent 0 78px,
      #ffffff 78px 80px
    );

  pointer-events: none;
}

.seat-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  z-index: 2;
}

/* ---------- WINDOW ---------- */

.window-wall {
  width: 100%;
  max-width: 900px;
  height: 36px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 18px;

  background: #edf7ff;

  border: 2px solid #c9e3f8;
}

.window-wall span {
  color: #4b8fcb;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 4px;
}
.left {
  transform: translateX(-20px);
}

.right {
  transform: translateX(20px);
}